body{
    margin: 0;
    display: block;
    background-color: #080C25;
    margin: 10px;
}

*, *::before, *::after {
    box-sizing: border-box;
}

a {
    -webkit-tap-highlight-color: transparent;
}

.container {
    max-width: 1800px;
    padding-left: 10px; padding-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

#loading {
    filter: invert(1);
    margin-top: 20px;
    width: 100px;
    transition: all 0.5s cubic-bezier(.19,1,.22,1);
    animation: rotate 1s cubic-bezier(0.23, 1.03, 0.36, 0.81) infinite;
}

.loading_block {
    align-items: center;
    flex-direction: column;
    display: none;
}

@keyframes rotate {
    0% {
      transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
  }

.anim_slide {
    animation-fill-mode:backwards;
	animation-name: slide_anim;
	animation-duration: 0.5s;
	animation-timing-function: cubic-bezier(.19,1,.22,1);
}

@keyframes slide_anim {
	0%{
		transform: translate(-200px);
		opacity: 0;
	}
	100%{
		transform: translate(0);
		opacity: 1;
	}
}

.titles {
    margin-top: 40px;
    font-size: 70px;
    font-family: 'Shentox', sans-serif;
    font-weight: 600;
    text-align: center;
    color: white;
}

.big_title {
    font-size: 70px;
}
.middle_title {
    margin-top: 100px;
    font-size: 60px;
}
.little_title {
    margin-top: 40px;
    font-size: 40px;
}

.flex_blocks {
    display: flex;
    justify-content: center;
    align-items: center;
}

#upload_file {
    width: 100%;
    flex-direction: column;
}

#files_input {
    display: none;
}

.links_input {
    margin-top: 80px;
    width: 600px;
    height: 60px;
    color: white;
    background-color: #293659;
    border: solid 2px #15497E;
    outline:none;
    font-family: 'discet', sans-serif;
    font-size: 20px;
    text-align: center;
}
input:focus {
    outline: #3071E7;
    border-color: #3071E7;
}

.text {
    margin-top: 20px;
    font-size: 20px;
    font-family: 'discet', sans-serif;
    text-align: center;
    color: white;
}

.upload_btn {
    margin-top: 20px;
    width: 250px;
    height: 60px;
    font-weight: 400;
    font-family: 'Shentox', sans-serif;
    font-size: 20px;
    border-color: #FFD600;
    border-width: max(2px, 0.10vw);
    border-style: solid;
    color: white;
    text-align: center;
    transition: all .2s;
    cursor: pointer;
    text-decoration: none;
}

.upload_btn:hover {
    background-color: #FFD600;
    color: black;
}

.send_btn {
    margin-top: 40px;
    color: #080C25;
    background-color: #FFD600;
}

.send_btn:hover {
    background-color: #fade4e;
}

.case_block {
    margin-top: 20px;
    flex-direction: row;
    flex-wrap: nowrap;
}

.carusel_block {
    width: 70%;
    margin-top: 40px;
    flex-direction: column;
}

.nav_arrow {
    cursor: pointer;
    width: 70px;
    filter: invert(1);
}

.page_num {
    margin-right: 20px;
    width: fit-content;
    padding: 10px;
    color: black;
    background-color: white;
    border-radius: 3px;
}

.mark_btn:nth-child(2n) {
    border-left: 0;
}

.img_block {
    width: 100%;
}

.imgs_size {
    width: 100%;
}

.btn_block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

@media(max-width:1000px){
    .titles {
        font-size: 50px;
    }
    .links_input {
        width: 90%;
    }
    .carusel_block {
        width: 100%;
    }
    .nav_arrow {
        width: 40px;
    }
}

@media(max-width:710px){
    .titles {
        font-size: 25px;
    }
    .links_input {
        width: 90%;
        font-size: 15px;
    }
    .middle_title {
        font-size: 40px;
    }
    .little_title {
        font-size: 25px;
    }
    .text {
        margin-top: 10px;
        font-size: 15px;
    }
    .mark_btn {
        width: 140px;
        margin-top: 10px;
    }
    .img_block {
        width: 70%;
    }
    .page_num {
        margin-right: 10px;
    }
}

@font-face {
	font-family: 'Shentox';  
	src: url("/static/fonts/Shentox-Regular.ttf") format("truetype"); 
	font-style: normal; 
	font-weight: normal;
}

@font-face {
	font-family: 'discet';  
	src: url("/static/fonts/Disket-Mono-Regular.ttf") format("truetype"); 
	font-style: normal; 
	font-weight: normal;
 }
